#margin-top {
  margin-top: 60px;
}

/* ****************************************************************************
  RESPONSIVENESS
**************************************************************************** */

.menu .icon {
  display: none;
  text-decoration: none;
  color: white;
  width: 20px;
  margin: auto;
  font-size: 20px;
}

.user-menus a, .user-menus a:hover {
  text-decoration: none;
  color: black;
}

#users-found {
  position: absolute;
  top: 30px;
  right: 0px;
  width: 200px;
  display: none;
  z-index: 3;
}

.user-found {
  background-color: white;
  padding: 2px 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
}

.user-found:hover {
  background-color: #e2e2e2;
}

.user-found:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.user-found:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.user-found:nth-child(even) {
  border-top: none;
}

#menu-search:focus ~ #users-found, #users-found:hover {
  display: block;
}

@media screen and (max-width: 1124px) {
  .menu {
    padding-left: 0px;
    margin-top: 15px;
  }
  .menu li {
    display: none !important;
  }
  .menu-super-container {
    display: block !important;
    width: 100% !important;
    top: 0;
    position: absolute;
  }
  .menu-container {
    display: block !important;
    width: 100% !important;
    padding: 0px !important;
    margin-top: -9px !important;
  }
  .menu-container ul li {
    margin-right: 0px !important;
  }
  .menu a.icon {
    display: block;
  }
  nav {
    min-width: inherit !important;
    transition: 0.2s;
  }
  .nav-ceten {
    display: inline-block;
    position: relative;
  }
  /* User menu - make it smaller and higher */
  .container-button {
    top: 60px !important;
    left: 15px !important;
    transition: 0.2s;
  }
  .container-sidebar {
    top: 120px !important;
    transition: 0.2s;
  }
  .container-sidebar.active {
    left: 15px !important;
    transition: 0.2s;
  }
  .hamburger-box {
    width: 20px !important;
    height: 20px !important;
    transition: 0.3s;
  }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 20px !important;
    transition: 0.3s;
  }
}

@media screen and (max-width: 1124px) {
  .menu.responsive {
    position: relative;
  }
  .menu.responsive .icon {
  }
  .menu.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
  .menu.responsive a:not(.icon) {
    margin-top: 6px;
    padding: 3px 0;/*
    background: #960c70;*/
  }/*
  .menu.responsive a:hover:not(.icon) {
    background: #820A61;
  }*/
  .menu.responsive li {
    float: none;
    display: inline !important;
    text-align: center;
  }
  nav.responsive {
    height: /*184px*/224px !important;
    transition: 0.4s;
  }
  #menu-search.responsive, #search_submit.responsive,
  .container-button.responsive, .container-sidebar.responsive,
  .icon.responsive {
    display: none !important;
  }
}

/* ****************************************************************************
  SEARCH BAR
**************************************************************************** */

#wrap {
  display: inline-block;
  position: relative;
  float: right;
  padding: 0;
  margin-top: 13px;
  margin-right: 20px;
}

#search_submit {
  color: white;
}

input[type="text"]#menu-search {
  display: inline-block;
  font-weight: 100;
  border: none;
  outline: none;
  color: white;
  padding: 3px;
  padding-right: 20px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
  font-size: 15px;
  line-height: 16px;
}

input[type="text"]:focus:hover#menu-search {
  border-bottom: 1px solid white;
}

input[type="text"]:focus#menu-search {
  width: 200px;
  z-index: 1;
  border-bottom: 1px solid white;
  cursor: text;
}

/* ****************************************************************************
  USER MENU
**************************************************************************** */

.user-menus {
  list-style: none;
  padding-left: 3px;
  padding-right: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.user-menu {
  margin-right: 0.5em;
  margin-left: 0.5em;
  padding: 2px 5px 4px 5px;
  border-radius: 4px;
  cursor: pointer;
}

.user-menu>a, .user-menu>a:hover {
  text-decoration: none;
  color: black;
}

.user-menu:hover {
  background-color: #ffe4b3;
}

.separation {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  margin: 4px 12px;
}

.container-button {
  position: fixed; /* Fixed/sticky position */
  top: 80px; /* Place the button at the bottom of the page */
  left: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: orange; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 0px; /* Some padding */
  border-radius: 40px; /* Rounded corners */
  transition: 0.3s;
}

.container-sidebar {
  position: fixed; /* Fixed/sticky position */
  top: 160px; /* Place the button at the bottom of the page */
  left: -310px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  padding: 0px; /* Some padding */
  border-radius: 20px; /* Rounded corners */
  transition: all 0.3s;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
}

.sidebar {
  width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  background-color: white;
}

.sidebar-header {
  background-color: #ffb833;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px 15px 10px 15px;
  font-weight: normal;
}

.container-sidebar.active {
  left: 20px;
}

.vh {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.fade-screen {
  background: rgba(0, 0, 0, 0.2);
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
@keyframes specialFadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
  }
}
.specialFadeIn {
  animation-name: specialFadeIn;
}
@keyframes specialFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}
.specialFadeOut {
  animation-name: specialFadeOut;
}
@keyframes specialSlideInRight {
  from {
    transform: translate3d(10%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.specialSlideInRight {
  animation-name: specialSlideInRight;
}
@keyframes specialFadeInRight {
  from {
    opacity: 0;
    transform: translate3d(10%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.spceialFadeInRight {
  animation-name: specialFadeInRight;
}

/* ****************************************************************************
  MAIN MENU
**************************************************************************** */

.menu-search-container.active {
  display: block;
  animation-name: specialFadeOut;
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.visible {
  visibility: visible;
}
.hidden {
  display: none;
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.menu ul li {
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.menu-search.is-closed {
  animation-name: specialFadeIn;
  animation-delay: 245ms;
  animation-duration: 400ms;
  animation-fill-mode: both;
}
.menu-search.hidden {
  animation-name: specialFadeOut;
  animation-delay: 30ms;
  animation-duration: 400ms;
  animation-fill-mode: both;
}
.menu-search-input {
  animation-name: specialFadeInRight;
  animation-duration: 400ms;
  animation-fill-mode: both;
  animation-delay: 350ms;
}

nav {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 48px;
  min-width: 1024px;
  background: #820A61;/*rgba(0, 0, 0, 0.8);*/
  font-size: 18px;
  z-index: 2;
}

.nav-ceten {
  display: inline-block;
  position: relative;
  margin-left: 0;
  vertical-align: text-bottom;
  padding: 0 22px;
  width: 7%;
  margin-top: 10px;
}

.nav-settings {
  display: inline-block;
  position: relative;
  text-align: right;
  width: 7%;
  color: white;
}

.nav-settings a {
  text-decoration: none;
  color: #fff;
}

.nav-settings a:hover {
  color: #dbbad2;
}

.menu-super-container {
  display: inline-block;
  width: 73%;
  text-align: center;
}

.menu-container {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  margin-top: -5px;
  padding: 0 22px;
}
.menu-container ul {
  list-style: none;
  -webkit-user-select: none; // For Webkit
  -khtml-user-select: none;
  -moz-user-select: none; // For Mozilla
  -o-user-select: none;
  user-select: none; // Default
}
.menu-container ul li {
  display: inline-block;
  text-align: center;
  width: auto;
  margin-right: 76px;
}
.menu-container ul li:last-child {
  margin-right: 0;
}
.menu-container ul li a {
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  color: #fff;
  font-weight: 100;
  font-size: 16px;
  float: left;
}
.menu-container ul li a:hover {
  color: #dbbad2;/*#969696;*/
}

.menu-search-container {
  display: none;
  position: absolute;
  top: 18px;
  left: 20.6667%;
  width: 56.66667%;
  z-index: 2;
}
.menu-search-container input {
  background-color: transparent;
  border: none;
  width: 80%;
  font-size: 16px;
  outline: none;
  color: #fff;
}
.menu-search-container a {
  color: #fff;
}
.menu-search-container a:first-child {
  display: block;
  float: left;
  padding-right: 10px;
}
.menu-search-container.active {
  display: block;
}
.menu-search-close {
  position: absolute;
  right: -183px;
  top: 0;
}
.search-sub-menu {
  background: #fff;
  width: 100%;
  margin-top: 14px;
  color: #999;
  font-weight: 100;
  padding: 24px 0 15px;
  z-index: 1;
}
.search-sub-menu h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  font-size: 12px;
  font-weight: 100;
  margin-top: 0;
  padding-left: 28px;
}
.search-sub-menu ul {
  margin: 0;
  padding: 0;
  width: 100%;
}
.search-sub-menu ul li {
  display: block;
  text-align: left;
  padding-bottom: 10px;
  margin: 0;
  text-indent: 50px;
}
.search-sub-menu ul li a {
  font-size: 14px;
  color: #999;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.search-sub-menu ul li a:hover {
  background-color: #f2f2f2;
  color: #3392de;
}
.search-sub-menu ul li a:first-child {
  float: none;
  padding-right: 0;
}
